\documentclass[oneside]{article}

% ---------------- Codificação e idioma ----------------
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[brazil]{babel}

% ---------------- Layout e colunas ----------------
\usepackage{geometry}
\geometry{
    top=1cm,
    bottom=2cm,
    left=1cm,
    right=1cm
}
\usepackage{paracol}
\usepackage{tabularx}
\newcolumntype{Y}{>{\RaggedRight\arraybackslash}X}

% ---------------- Tipografia ----------------
\usepackage[scaled]{helvet}
\usepackage{fontawesome5}
\usepackage[defaultfam,tabular,oldstyle]{montserrat}
\usepackage[document]{ragged2e}
\setlength{\parindent}{0pt}
\renewcommand{\arraystretch}{1.4}
\setlength\fboxrule{0pt}
\setlength\fboxsep{12pt}

% ---------------- Cores ----------------
\usepackage{xcolor}
\definecolor{sidebg}{cmyk}{1, 0.02, 0, 0.56}
\definecolor{mainbg}{cmyk}{0, 0, 0.07, 0.04}
\definecolor{maintext}{cmyk}{1, 0.02, 0, 0.8}
\definecolor{sidetext}{cmyk}{0, 0, 0.07, 0.04}

% ---------------- Fundo da página ----------------
\usepackage{tikz}
\usepackage{eso-pic}
\pagecolor{mainbg}
\AddToShipoutPictureBG{
    \begin{tikzpicture}[remember picture,overlay]
        \fill[sidebg] (current page.north west) rectangle ([xshift=0.42\paperwidth]current page.south west);
        \fill[mainbg] ([xshift=0.42\paperwidth]current page.north west) rectangle (current page.south east);
    \end{tikzpicture}
}

% ---------------- Hiperlinks ----------------
\usepackage{hyperref}
\hypersetup{
    pdftitle={{firstName}} - CV - Português,
    pdfauthor={{personalInformation.name}},
    pdfsubject={CV}
}

% ---------------- Contagem de páginas ----------------
\usepackage{lastpage} % deve vir antes do fancyhdr
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhf{} % limpa cabeçalho e rodapé
\fancyfoot[C]{\color{gray} Página \thepage\ de \pageref{LastPage}}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

% ---------------- Títulos ----------------
\usepackage{titlesec}

% ---------------- Listas ----------------
\usepackage{enumitem}

% ---------------- Comando de ícone ----------------
{% raw %}
\newcommand{\iconitem}[2]{\faIcon{#1} \, #2\\[2pt]}
{% endraw %}

\begin{document}

% Colunas independentes: esquerda 40%, direita 60%
\columnratio{0.4}
\begin{paracol}{2}

% ---------------- COLUNA ESQUERDA ----------------
\color{sidetext}
\RaggedRight
% Ajuste de margens internas da coluna esquerda
\setlength{\rightskip}{1cm} % margem direita

{\bfseries\scshape\Huge {{firstName}}} \\
{\bfseries\scshape\Large {{surName}}} \\
{{personalInformation.occupation}} \\
\vspace{0.3cm}

\section*{ {{aboutMe.title}} }
{{aboutMe.content}}

\vspace{0.3cm}
\rule{\linewidth}{0.4pt} 

\vspace{0.3cm}

\iconitem{star-of-life}{ {{personalInformation.birthDate}} }
\iconitem{phone}{ {{personalInformation.phone}} }
\iconitem{envelope}{\href{mailto:{{personalInformation.email}}}{ {{personalInformation.email}} }}
\iconitem{code}{\href{https://{{personalInformation.site}} }{ {{personalInformation.site}} }}
%\iconitem{github}{\href{https://github.com/{{personalInformation.github}}}{ /{{personalInformation.github}} }}
\iconitem{linkedin}{\href{https://www.linkedin.com/in/{{personalInformation.linkedin}}}{ /{{personalInformation.linkedin}} }}
\iconitem{map-marker-alt}{ {{personalInformation.location}} }

\section*{ {{skills.title}} }
\begin{tabularx}{\linewidth}{cY}
    {% for h in skills.content %}
    \{{ h.icon }} & {{ h.skills | map(attribute='name') | join(', ') }} \\
    {% endfor %}
\end{tabularx}

\section*{Idiomas}
\begin{tabular}{cl}
    {% for l in languages.content %}
    \faLanguage & {{ l.name }} ({{ l.level }}) \\
    {% endfor %}
\end{tabular}

% ---------------- COLUNA DIREITA ----------------
\switchcolumn
\color{maintext}
\RaggedRight
% Ajuste de margens internas da coluna direita
\setlength{\leftskip}{1cm}  % margem esquerda

{ % início do grupo local
\newcommand{\sectionR}[1]{
  \noindent
  {\scshape\Large\color{maintext} #1} % título igual ao nome
  \hspace{0.5em}%
  \hrulefill % linha horizontal preenchendo até a borda direita
  \par\vspace{0.5cm}%
}

% Uso na coluna direita
\sectionR{ {{goal.title}} }
{{goal.content}}

\vspace{1cm}
\sectionR{ {{experiences.title}} }
{% for e in experiences.content %}
{\large\textbf{ {{e.company}} }} \\
{ {{e.position}}} \\
\vspace{0.1cm}
{\scshape \small {{e.startDate}} -- {{e.endDate if e.endDate else ""}}} \\
\begin{itemize}[leftmargin=1.5cm]
    {% for i in e.additionalInfo %}
    \item {{i.title}} \begin{itemize}
        {% for c in i.content %}
        \item {{c}}
        {% endfor %}
    \end{itemize}
    {% endfor %}
\end{itemize}
\vspace{0.2cm}
{% endfor %}
\vspace{1cm}

\sectionR{ {{education.title}} }
{% for e in education.content %}
{\large\textbf{ {{e.institution}} ({{e.degree}}) }} \\
{ {{e.location}}} \\
\vspace{0.1cm}
{\scshape \small {{e.startDate}} -- {{e.endDate if e.endDate else ""}}} \\
\begin{itemize}[leftmargin=1.5cm]
    {% for i in e.additionalInfo %}
    \item {{i.title}} \begin{itemize}
        {% for c in i.content %}
        \item {{c}}
        {% endfor %}
    \end{itemize}
    {% endfor %}
\end{itemize}
}
\vspace{0.2cm}
{% endfor %}
\vspace{1cm}

{% for a in additionalInfo %}
\section*{ {{a.title}} }
{{a.content}}
{% endfor %}


}

\end{paracol}

\end{document}
